# Stream output (segmentos HLS)
server/stream/*
!server/stream/.gitkeep

# Gravações (upload para R2)
server/recordings/*
!server/recordings/.gitkeep

# Node
node_modules/

# Docker
.env.local

# OS
.DS_Store
Thumbs.db
